@model IEnumerable<NoNameCodeTask.Models.Menu>

@{
    Layout = null;
}
<nav>
    <div class="wrapper flexbox middle">
        <button class="hamburger hamburger--collapse " type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <div class="brand-logo">
            <a href="/"><img src="~/Content/Images/logo.png" alt="Code Academy"></a>
        </div>
        <div class="menu">
            <div class="search-form mobile flexbox">
                <form id="form-search-mobile" action="/search" method="GET" autocomplete="off">
                    <input type="text" name="key" placeholder="Saytda axtar">
                    <input type="hidden" name="filter" value="all" />
                    <button type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
                <button class="hamburger close hamburger--collapse is-active" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <ul>
                <li class='dropdown'>
                    <a class="dropdown-trigger">
                        Akademiya
                        <i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-content">
                        <div class="dropdown-frame wo-title">
                            <ul>
                                <li><a href="/academy/haqqimizda">Haqqımızda</a></li>
                                <li><a href="/academy/muellimlerimiz">M&#252;əllimlərimiz</a></li>
                                <li><a href="/academy/akademik-partnyorlar">Akademik Partnyorlar</a></li>
                            </ul>
                        </div>
                    </ul>
                </li>
                <li class='dropdown'>
                    <a class="dropdown-trigger">
                        Təhsil
                        <i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-content">
                        <div class="dropdown-frame">
                            <div class="heading dropdown-trigger">
                                <a>
                                    DƏRSLƏR
                                    <i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
                                </a>
                            </div>
                            <ul>
                                <li><a href="/education/qrafik-ve-veb-dizayn">Qrafik və Veb Dizayn</a></li>
                                <li><a href="/education/digital-marketing">Digital Marketing</a></li>
                                <li><a href="/education/proqramlasdirma">Proqramlaşdırma</a></li>
                                <li><a href="/education/sistem-administratorlugu">Sistem  Administratorluğu</a></li>
                                <li><a href="/education/ms-office">MS Office</a></li>
                                <li><a href="/education/3d-modellesdirme-ve-vizualizasiya">3D Modelləşdirmə və Vizualizasiya</a></li>
                            </ul>
                        </div>

                        <div class="dropdown-frame">
                            <div class="heading dropdown-trigger">
                                TƏHSİL MODELİ
                                <i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
                            </div>
                            <ul>
                                <li><a href="/education/zemanetli_tehsil">Zəmanətli təhsil</a></li>
                                <li><a href="/education/tehsil-modeli">Təhsil Modeli</a></li>
                                <li><a href="/education/mentor_sistemi">Mentor sistemi</a></li>
                                <li><a href="/education/beynalxalq_sertifkasiya">Beynəlxalq sertifikasiya</a></li>
                                <li><a href="/education/karyera-merkezi">Karyera mərkəzi</a></li>
                            </ul>
                        </div>
                    </ul>
                </li>
                <li><a href="/mezunlar">Məzunlar</a></li>
                <li><a href="/news">Yeniliklər</a></li>
                <li><a href="/contact">Əlaqə</a></li>
                <li class='dropdown mobile-active'>
                    <a class="dropdown-trigger">
                        Təqvim
                        <i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-content">
                        <div class="dropdown-frame wo-title">
                            <ul>
                                <li><a href="/events">Bütün tədbirlər</a></li>
                                <li><a href="/events/infosessiyalar">İnfosessiyalar</a></li>
                                <li><a href="/events/gizlilik_siyaseti">Gizlilik Siyasəti</a></li>
                            </ul>
                        </div>
                    </ul>
                </li>
                <li class='dropdown mobile-active'>
                    <a class="dropdown-trigger">
                        Müraciət et
                        <i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-content">
                        <div class="dropdown-frame wo-title">
                            <ul>
                                <li><a href="/appeal/muraciet">M&#252;raciət</a></li>
                                <li><a href="/appeal/sualim_var">Sualım var</a></li>
                                <li><a href="/appeal/mene_zeng_edin">Mənə zəng edin</a></li>
                            </ul>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="search-bar align-right">
            <form id="form-search" action="/search" method="GET" autocomplete="off">
                <div class="input-wrapper">
                    <input type="text" name="key" placeholder="Saytda axtar">
                    <input type="hidden" name="filter" value="all" />
                    <button type="submit" disabled>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="apply ">
            <a href="/LogIn/LoginFind" class="button-style button-blue">Log In</a>
            @*<button onclick="window.location.href='/appeal/muraciet'" type="button" class="button-style button-blue">Müraciət et</button>*@
        </div>
    </div>
</nav>


