
<!doctype html>
<html class="no-js">



<meta http-equiv="~/Content-type" ~/Content="text/html;charset=utf-8"/>
<head>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KBW76DW');</script>
	<!-- End Google Tag Manager -->
	<meta http-equiv="Cache-Control" ~/Content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" ~/Content="no-cache" />
	<meta http-equiv="Expires" ~/Content="0" />

	<meta name="viewport" ~/Content="width=device-width, initial-scale=1.0">
	<meta http-equiv="~/Content-Type" ~/Content="text/html; charset=utf-8"/>



	<title>Ana Səhifə - Code Academy</title>

	<!--Favicon-->
	<link rel="icon" href="favicon.png" type="image/x-icon" />
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

	<link href="~/Content/css/vendor.css" rel="stylesheet" />

	<link href="~/Content/fonts/fonts.css" rel="stylesheet" />

	<link href="~/Content/css/main.css" rel="stylesheet" />




</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBW76DW"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
        <div class="top"></div>
        <div class="info">
            <div class="wrapper">
                <h4>
                    Nizami küçəsi 203B, AF Business House, 2-ci mərtəbə | Şəhər telefonlarından: +994125552525 | Mobil/Whatsapp: +994504442633
                </h4>
            </div>
        </div>
        @Html.Action("GetData", "Navbar")
    </header>
    @RenderBody()


    <section id="contact">
        <div class="wrapper">
            <div class="flexbox middle center">
                <div class="background">
                    <img src="~/Content/Images/student.png" alt="">
                    <div class="overlay"></div>
                </div>
                <div class="details flexbox center flex-col middle">
                    <div class="heading">
                        <h2><span>SUALINIZ VAR?</span> GƏLİN, GÖRÜŞƏK</h2>
                    </div>
                    <div class="contact-form form">

                        <form action="https://code.edu.az/form/letsmeet" class="flexbox between setCookie flex-wrap invalid validator" id="form-contact-me" method="post">
                            <input name="__RequestVerificationToken" type="hidden" value="-ZvpJdzwiGOo798oDMTQO1DKW1NFeTzXK6PFL-Bn0PmQnIyEGRPoS6B6Rv9zXLZvqKu2n1l2VzUUywFcewZ0LZKKHgHgTjXnL0HYqj8G0nE1" />                                <input type="hidden" name="gaid" />
                            <div class="input-wrapper">
                                <input id="bottom-name" type="text" placeholder="Adınız" name="name" data-name="Adınız" class="validate input-control input-style">
                                <span class="underline"></span>
                            </div>
                            <div class="input-wrapper">
                                <input id="bottom-surname" type="text" placeholder="Soyadınız" name="surname" data-surname="Soyadınız" class="validate input-control input-style">
                                <span class="underline"></span>
                            </div>
                            <div class="input-wrapper phone-input flexbox">
                                <input type="hidden" name="number" data-prefix="(050)-" data-value="" value="" />
                                <div class="phone-input-holder flexbox">
                                    <div class="phone-prefix">
                                        <select>
                                            <option value="050">050</option>
                                            <option value="051">051</option>
                                            <option value="055">055</option>
                                            <option value="070">070</option>
                                            <option value="077">077</option>
                                            <option value="012">012</option>
                                        </select>
                                    </div>
                                    <div class="phone-value">
                                        <input data-has-focus="false" id="bottom-number" type="text" placeholder="XXX-XX-XX" data-mask="number" data-validate-name="number" data-name="Mobil nömrəniz" class="validate input-control input-style">
                                        <span class="underline"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-wrapper flexbox bottom">
                                <input id="bottom-send" value="GÖNDƏR" type="submit" class="button-style button-blue input-control">
                            </div>
                            <div class="message-status">
                                <p class="message">
                                    <span></span>
                                    <i class="fa fa-check-circle"></i>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Action("Footer", "Home");

    <script src="~/Content/scripts/vendor/modernizr.js"></script>

    <script src="~/Content/scripts/vendor.js"></script>

    <script src="~/Content/scripts/vendor/cleave.min.js"></script>

    <script src="~/Content/scripts/vendor/js.cookie.min.js"></script>



    <script src="~/Content/scripts/main.js"></script>


    <script>
        $(document).ready(function () {
            $('#bottom-send').click(function (e) {
                $('#bottom-send').closest('.input-wrapper').addClass("loading");
            });


            setTimeout(function () {
                if ($("input[name='gaid']").length > 0) {
                    $("input[name='gaid']").val(ga.getAll()[0].get('clientId'))
                }
            }, 10000);
        });
    </script>



</body>

</html>