
@{
    Layout = null;
}

<section id="news-list">
    <div class="wrapper">

        <div class="content-holder flexbox between">

            @Html.Action("HomeSlider", "Home")

            @Html.Action("EventList", "Home")
        </div>
    </div>
</section>
